.container{
	width: 85%;
	margin: auto;
}
body{
	background-color: lightsteelblue;
  }

.header{
	color: lightsteelblue;
	background-color: black;
	margin: auto;
	text-align: center;
	border-radius: 5px;
  }
table{
	width: 100%;
}

table td{
	width: 50%;
}
table img{
	width: 100%;
	height: auto;
}

  

