.container{
	width: 85%;
	margin: auto;
}
header{
	background-color: black;
	color: white;
	padding: 15px;
	margin: 0;
}
header::after{/* format for header on one line*/
	content: '';
	display: table;
	clear: both;
}
header h1{
	display: inline;
	margin: 0;
	float: left;
}
nav{
	float:right;
}
nav ul{
	margin: 0;
}
nav ul li{/*navigation bar*/
	list-style-type: none;/*removes bullets*/
	display: inline-block;
	background-color: black;
	font-size: 20px;
	padding: 12px 15px;
	margin: 0;
}
nav ul li:hover{/*navigation bar hover*/
	font-weight:bold;
}
nav ul li a{/*changes links in navagation bar*/
	color: lightsteelblue;
	text-decoration: none;/*no underline*/
}
body{/*body*/
	margin: 0;
	background-color:lightsteelblue;
}
.email{
	background-color: white;
	color: black;
	float: left;
	padding: 0px 0px 15px 5px;
	margin:15px 0px 0px 15px;
	text-align: center;
	width:45%;
	border-radius: 15px
}
input[type=text], select,textarea {
	border:2px solid lightsteelblue;
	border-radius: 5px;
	padding: 5px;
	margin: 3px;
	box-sizing: border-box;
	/*resize: vertical;???*/
	resize: none;
}
.Message{
	width: 200px;
	height: 200px;
}
button{
	color:black;
	background-color: white;
	border-radius: 5px;
	font-size: 20px;
	border: 2px solid indianred;
}
button:hover{
	background-color: white;
	color:indianred;
	border: 2px solid black;
}
.info{
	background-color:white;
	color: black;
	padding: 0px 5px 5px 5px;
	margin: 0 auto;
	width: 90%;
	border-radius: 15px;
	text-align: left;
}