* {
  font-family: 'Inter', sans-serif;
}

body {
	background-color:lightsteelblue;
}

.navbar {
  margin-bottom: 10px;
}

.navbar-brand {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

.nav-link a:hover {
  border-bottom: 1px solid gray;
}

.card-header {
  font-weight: 500;
}

.alert {
  margin: 10px;
}

@media all and (min-width: 480px) {
  .login-box {
    max-width: 400px;
  }
}

.login-form {
  margin: 5px 10px 5px 10px;
  padding: 10px;
}

.login-button {
  margin-top: 10px;
}
